<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#14B8A6_0%,#0F766E_40%,#FB923C_75%,#14B8A6_100%)]"
    ></span>
    <div class="inline-flex w-full cursor-pointer items-center justify-center rounded-full bg-white/80 px-3.5 py-1.5 text-sm font-semibold text-[var(--accent-strong)] backdrop-blur-3xl whitespace-nowrap transition-colors duration-300 dark:bg-slate-950/80 dark:text-slate-100">
      <slot />
    </div>
  </span>
</div>
