---
import ExperienceItem from "./ExperienceItem.astro"
import { experience } from "@/data/portfolio"
---

<ol class="relative space-y-6 before:absolute before:left-[0.6875rem] before:top-8 before:h-[calc(100%-4rem)] before:w-px before:bg-[var(--accent-border)]">
  {
    experience.map((item) => (
      <li class="relative pl-8 sm:pl-12">
        <div class="absolute left-0 top-8 h-4 w-4 rounded-full border-[5px] border-[var(--page-bg)] bg-[var(--accent-strong)]"></div>
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
